<script lang="ts">
	export let label: string | undefined = undefined;
	let classes = '';
	export { classes as class };
</script>

{#if label}
	<label class="block w-full {classes}">
		<span class="block mb-2">{label}</span>
		<slot />
	</label>
{:else}
	<slot />
{/if}
