<script lang="ts">
	import NumberInput from '$lib/components/Input/NumberInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import VpredFirst from '@sifry/lib/src/ciphers/VpredFirst';
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import TextInput from '$lib/components/Input/TextInput.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let blockSize = 4;
	let paddingChars = 'X';

	let clearText = '';
	let cipher = new VpredFirst();

	$: cipherText = cipher.run(clearText, {
		blockSize,
		paddingChars: paddingChars.length ? paddingChars.split('') : ['X']
	});
</script>

<div class="grid gap-4 grid-cols-3 mb-6">
	<NumberInput label="Velikost bloku" bind:value={blockSize} min={1} />
	<TextInput label="Výplňové znaky" bind:value={paddingChars} />
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>
