<script lang="ts">
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import ToggleInput from '$lib/components/Input/ToggleInput.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';
	import ReverseWords, { parameterDefinitions } from '@sifry/lib/src/ciphers/ReverseWords';

	let removeDiacritics = parameterDefinitions.removeDiacritics.defaultValue;
	let removePunctuation = parameterDefinitions.removePunctuation.defaultValue;
	let capitalize = parameterDefinitions.capitalize.defaultValue;

	let clearText = '';
	let cipher = new ReverseWords();

	$: cipherText = cipher.run(clearText, { removeDiacritics, removePunctuation, capitalize });
</script>

<div class="grid gap-4 grid-cols-3 md:grid-cols-5 mb-6">
	<ToggleInput label="Odebrat diakritiku" bind:checked={removeDiacritics} />
	<ToggleInput label="Odebrat interpunkci" bind:checked={removePunctuation} />
	<ToggleInput label="Převést na velká písmena" bind:checked={capitalize} />
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>
