<script lang="ts">
	import CipherHint from '$lib/components/CipherHint/CipherHint.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';
	import FirstLast from '@sifry/lib/src/ciphers/FirstLast';

	let clearText = '';
	let cipher = new FirstLast();

	const getHintChars = (cipherText: string): string[] | undefined => {
		if (cipherText.length < 4) {
			return undefined;
		}

		const chars = cipherText.split('');
		return [chars[0], chars[chars.length - 1], chars[1], chars[chars.length - 2]];
	};

	$: cipherText = cipher.run(clearText);
	$: hintChars = getHintChars(cipherText);
</script>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<CipherHint dynamic>
	Vezmi 1. písmenko ze začátku{hintChars ? ` (${hintChars[0]})` : ''}, pak 1. písmenko z konce{hintChars
		? ` (${hintChars[1]})`
		: ''}, pak 2. písmenko ze začátku{hintChars ? ` (${hintChars[2]})` : ''}, pak 2. písmenko z
	konce{hintChars ? ` (${hintChars[3]})` : ''} a tak dále. Označuj si již rozluštěná písmenka, když se
	v téhle šifře člověk zamotá, často musí začít od začátku.
</CipherHint>
