<script lang="ts" context="module">
	export type SidebarContext = {
		closeMenu: () => void;
	};

	const sidebarContextIdentifier = {};
	export const getSidebarContext = () => {
		return getContext<SidebarContext>(sidebarContextIdentifier);
	};
</script>

<script lang="ts">
	import { fade } from 'svelte/transition';
	import { slideX } from '$lib/transitions/slideX';
	import SidebarContent from '$lib/components/Sidebar/SidebarContent.svelte';
	import { page } from '$app/stores';
	import { getContext, setContext } from 'svelte';

	let isMobileMenuOpen = false;

	setContext<SidebarContext>(sidebarContextIdentifier, {
		closeMenu: () => {
			isMobileMenuOpen = false;
		}
	});
</script>

<div>
	<div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
		{#if isMobileMenuOpen}
			<div class="fixed inset-0 bg-gray-900/80 w-full h-full" transition:fade={{ duration: 200 }} />
		{/if}

		{#if isMobileMenuOpen}
			<div
				class="fixed inset-0 flex"
				transition:slideX={{ duration: 200 }}
				on:click={() => {
					isMobileMenuOpen = false;
				}}
				on:keypress={(e) => {
					console.log(e);
				}}
			>
				<div class="relative mr-16 flex w-full max-w-xs flex-1">
					<div
						class="absolute left-full top-0 flex w-16 justify-center pt-5"
						transition:fade={{ duration: 200 }}
					>
						<button type="button" class="-m-2.5 p-2.5" on:click={() => (isMobileMenuOpen = false)}>
							<span class="sr-only">Zavřít menu</span>
							<svg
								class="h-6 w-6 text-white"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								aria-hidden="true"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>

					<div
						class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pt-6 pb-2 ring-1 ring-white/10"
					>
						<nav class="flex flex-1 flex-col">
							<ul class="flex flex-1 flex-col gap-y-7">
								<li>
									<ul class="-mx-2 space-y-1">
										<SidebarContent />
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		{/if}
	</div>

	<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
		<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 py-6">
			<nav class="flex flex-1 flex-col">
				<ul class="flex flex-1 flex-col gap-y-7">
					<li>
						<ul class="-mx-2 space-y-1">
							<SidebarContent />
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div
		class="sticky top-0 z-40 flex items-center gap-x-6 bg-gray-900 px-4 py-4 shadow-sm sm:px-6 lg:hidden"
	>
		<button
			type="button"
			class="-m-2.5 p-2.5 text-gray-400 lg:hidden"
			on:click={() => (isMobileMenuOpen = true)}
		>
			<span class="sr-only">Otevřít menu</span>
			<svg
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				aria-hidden="true"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
				/>
			</svg>
		</button>
		<div class="flex-1 text-sm font-semibold leading-6 text-white">
			{$page.data.title ?? 'Šifry'}
		</div>
	</div>

	<main class="py-10 lg:pl-72">
		<div class="px-4 sm:px-6 lg:px-8">
			<slot />
		</div>
	</main>
</div>
