<script lang="ts" context="module">
	import { page } from '$app/stores';
	import type { Route } from '../../routes';
	import { getSidebarContext } from './Sidebar.svelte';
</script>

<script lang="ts">
	export let route: Route;

	const { closeMenu } = getSidebarContext();

	$: isActive = route.id === $page.route.id;
</script>

<li>
	<a
		href={route.path}
		class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {isActive
			? 'bg-gray-800 text-white'
			: 'text-gray-400 hover:text-white hover:bg-gray-800'}"
		on:click={closeMenu}
	>
		<slot />
	</a>
</li>
