<script>
	import { routes } from '../../routes';
	import SidebarItem from './SidebarItem.svelte';
</script>

<SidebarItem route={routes.homepage}>Domů</SidebarItem>
<SidebarItem route={routes.abecedaSKlicem}>Abeceda s klíčem</SidebarItem>
<SidebarItem route={routes.britskaVlajka}>Britská vlajka</SidebarItem>
<SidebarItem route={routes.druhaOddilova}>Druhá oddílová</SidebarItem>
<SidebarItem route={routes.morseovka}>Morseovka</SidebarItem>
<SidebarItem route={routes.petronilka}>Petronilka</SidebarItem>
<SidebarItem route={routes.posunutaAbecedaCaesar}>Posunutá abeceda (Caesar)</SidebarItem>
<SidebarItem route={routes.prumeryPismenAcB}>Průměry písmen (AC = B)</SidebarItem>
<SidebarItem route={routes.prvniOddilova}>První oddílová</SidebarItem>
<SidebarItem route={routes.prvniPosledni}>První–poslední</SidebarItem>
<SidebarItem route={routes.slovaPozpatku}>Slova pozpátku</SidebarItem>
<SidebarItem route={routes.souradnice}>Souřadnice</SidebarItem>
<SidebarItem route={routes.textPozpatku}>Text pozpátku</SidebarItem>
