<script lang="ts">
	import NumberInput from '$lib/components/Input/NumberInput.svelte';
	import TextInput from '$lib/components/Input/TextInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import Coordinates from '@sifry/lib/src/ciphers/Coordinates';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';
	import CipherWarning from '$lib/components/CipherWarning/CipherWarning.svelte';
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import { split } from 'postcss/lib/list';

	let keywordX = '12345';
	let keywordY = 'ABCDE';
	let separator = '|';

	let clearText = '';
	let cipherText = '';
	const cipher = new Coordinates();

	$: {
		try {
			const newCipherText = cipher.run(clearText, { keywordX, keywordY, separator });
			cipherText = newCipherText;
		} catch (e) {
			// todo show error
		}
	}
</script>

<div class="grid gap-4 mb-6 grid-cols-1 sm:grid-cols-3">
	<TextInput label="Vodorovná osa" bind:value={keywordX} />
	<TextInput label="Svislá osa" bind:value={keywordY} />
	<TextInput label="Oddělovač" bind:value={separator} />
</div>

{#if keywordX.length !== 5}
	<CipherWarning>Vodorovná osa musí mít právě 5 znaků.</CipherWarning>
{/if}
{#if keywordY.length !== 5}
	<CipherWarning>Svislá osa musí mít právě 5 znaků.</CipherWarning>
{/if}

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

{#if keywordX.length === 5 && keywordY.length === 5}
	{@const alphabet = 'ABCDEFGHIJKLMNOPRSTUVWXYZ'.split('')}
	<SectionHeading>Pomocná tabulka</SectionHeading>

	<table>
		<tr>
			<th />
			{#each keywordX.split('') as charX}
				<th class="px-2 py-1 text-center border">{charX}</th>
			{/each}
		</tr>
		{#each keywordY.split('') as charY, keyY}
			<tr>
				<th class="px-2 py-1 text-center border">
					{charY}
				</th>
				{#each Array(5) as _, keyX}
					<td class="px-2 py-1 text-center border">{alphabet[keyY * 5 + keyX]}</td>
				{/each}
			</tr>
		{/each}
	</table>
{/if}
