<script lang="ts">
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import Petronilka from '@sifry/lib/src/ciphers/Petronilka';
	import CipherWarning from '$lib/components/CipherWarning/CipherWarning.svelte';
	import CipherHint from '$lib/components/CipherHint/CipherHint.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let clearText = '';
	let cipher = new Petronilka();

	let firstWord: string | undefined = undefined;
	let firstWordPairsExplanation: string = '';

	$: cipherText = cipher.run(clearText);
	$: {
		[firstWord] = clearText.trim().split(' ');
		firstWordPairsExplanation = (firstWord ?? '')
			.split('')
			.map((char) => `${char}→${cipher.run(char)}`)
			.join(', ');
	}
</script>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

{#if /[0-9]/.test(clearText)}
	<CipherWarning>
		Pozor, řešení šifry nemusí být jednoznačné, protože otevřený text obsahuje číslice.
	</CipherWarning>
{/if}

<CipherHint dynamic>
	Je to Petronilka, napište si slovo Petronilka a písmena očíslujte od 1 do 9, k A na konci napište
	0. Pak tedy 1=P, 2=E, 3=T a tak dále, A=0.
	{#if firstWord}
		První slovo zprávy je tedy „{firstWord}“ (protože {firstWordPairsExplanation}).
	{/if}
</CipherHint>
