<script lang="ts">
	import CipherHint from '$lib/components/CipherHint/CipherHint.svelte';
	import TextInput from '$lib/components/Input/TextInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import ToggleInput from '$lib/components/Input/ToggleInput.svelte';
	import MorseCode, { type Parameters } from '@sifry/lib/src/ciphers/MorseCode';
	import CharacterTable from './CharacterTable.svelte';
	import CopyToClipboard from '$lib/components/CopyToClipboard/CopyToClipboard.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let dotSymbol = '.';
	let dashSymbol = '-';
	let separatorSymbol = '|';
	let useCh = true;
	let useNumbers = true;
	let useSpecialSymbols = false;
	let removeDiacritics = true;
	let removeUnnecessaryPunctuation = true;

	let addSymbolExplanation = false;

	let clearText = '';
	let cipher = new MorseCode();

	let parameters: Parameters;
	let cipherText: string;
	$: {
		parameters = {
			dotSymbol,
			dashSymbol,
			separatorSymbol,
			useCh,
			useNumbers,
			useSpecialSymbols,
			removeDiacritics,
			removeUnnecessaryPunctuation
		};
		cipherText = cipher.run(clearText, parameters);
	}
</script>

<div class="grid gap-4 mb-6 grid-cols-1 sm:grid-cols-3">
	<TextInput label="Symbol pro tečku" bind:value={dotSymbol} />
	<TextInput label="Symbol pro čárku" bind:value={dashSymbol} />
	<TextInput label="Symbol pro oddělovač" bind:value={separatorSymbol} />
</div>

<div class="grid gap-4 mb-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
	<ToggleInput label="Ch je jedno písmeno" bind:checked={useCh} />
	<ToggleInput label="Šifrovat čísla" bind:checked={useNumbers} />
	<ToggleInput label="Šifrovat speciální znaky" bind:checked={useSpecialSymbols} />
	<ToggleInput label="Odebrat diakritiku" bind:checked={removeDiacritics} />
	<ToggleInput
		label="Odebrat nepotřebnou interpunkci"
		bind:checked={removeUnnecessaryPunctuation}
	/>
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<CipherHint parametric>
	<div slot="controls">
		<ToggleInput
			label="Vysvětlit symboly (dává smysl u divných morseovek)"
			bind:checked={addSymbolExplanation}
		/>
	</div>
	Je to morseovka.
	{#if addSymbolExplanation}
		{dotSymbol} je tečka, {dashSymbol} je čárka, {separatorSymbol} je oddělovač.
	{/if}
	Jednotlivé znaky luštěte podle tabulky:

	<div class="flex items-start gap-4 pt-5">
		<CharacterTable
			{cipher}
			{parameters}
			characters={[
				...'ABCDEFGH'.split(''),
				...(useCh ? ['CH'] : []),
				...'IJKLMNOPQRSTUVWXYZ'.split('')
			]}
		/>
		<CharacterTable {cipher} {parameters} characters={'0123456789'.split('')} />
		<CharacterTable {cipher} {parameters} characters={'.,?\'!/()&:;=+-"$@_'.split('')} />
	</div>
</CipherHint>
