<script lang="ts">
	import type MorseCode from '@sifry/lib/src/ciphers/MorseCode';
	import type { Parameters } from '@sifry/lib/src/ciphers/MorseCode';

	export let cipher: MorseCode;
	export let parameters: Parameters;
	export let characters: string[];

	$: encodedCharacters = characters.reduce<[string, string][]>((encodedCharacters, character) => {
		const encodedCharacter = cipher.run(character, parameters);
		const cleanedCharacter = encodedCharacter.substring(
			0,
			encodedCharacter.length - 2 * (parameters.separatorSymbol?.length ?? 1)
		);

		if (cleanedCharacter.length && character !== cleanedCharacter) {
			encodedCharacters.push([character, cleanedCharacter]);
		}

		return encodedCharacters;
	}, []);
</script>

{#if encodedCharacters.length}
	<table>
		{#each encodedCharacters as [character, encodedCharacter]}
			<tr>
				<th class="border py-1 px-2">
					{character}
				</th>
				<td class="border py-1 px-2">
					{encodedCharacter}
				</td>
			</tr>
		{/each}
	</table>
{/if}
