<script lang="ts" context="module">
	const positionClasses = {
		left: 'top-1/2 right-[100%] -translate-y-1/2 -translate-x-3 justify-end',
		right: 'top-1/2 left-[100%] -translate-y-1/2 translate-x-3 justify-start'
	};
	export type Position = keyof typeof positionClasses;
</script>

<script lang="ts">
	import InformationCircleIcon from 'heroicons/24/outline/information-circle.svg?component';

	let classes = '';
	export { classes as class };
	export let position: Position = 'right';
</script>

<button
	class="icon-wrapper relative cursor-pointer text-gray-500 focus-visible:text-gray-900 focus-visible:outline-0 focus-visible:outline-none {classes}"
	on:click
>
	<slot name="icon">
		<InformationCircleIcon class="stroke-2" />
	</slot>
	<span
		class="flex items-start hint-wrapper absolute font-medium text-sm w-52 transition-opacity pointer-events-none {positionClasses[
			position
		]}"
	>
		<span class="bg-gray-900 text-gray-100 inline-block p-2 rounded-md shadow-sm text-left"
			><slot /></span
		>
	</span>
</button>

<style>
	.icon-wrapper .hint-wrapper {
		opacity: 0;
	}

	.icon-wrapper:hover .hint-wrapper,
	.icon-wrapper:focus .hint-wrapper {
		opacity: 1;
	}
</style>
