<script lang="ts">
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import AlphabetShift from '@sifry/lib/src/ciphers/AlphabetShift';
	import CipherWarning from '$lib/components/CipherWarning/CipherWarning.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';
	import TextInput from '$lib/components/Input/TextInput.svelte';

	const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
	let keyword = 'SIFRA';

	let clearText = '';
	let cipher = new AlphabetShift();

	let cipherText = '';
	let shiftedAlphabet: string[] = [];
	$: {
		try {
			shiftedAlphabet = cipher.getShiftedAlphabet({ keyword }).map((char) => char.toUpperCase());
			cipherText = cipher.run(clearText, { keyword });
		} catch (e) {
			// todo show error
		}
	}
</script>

<div class="grid gap-4 mb-6 grid-cols-1 sm:grid-cols-3">
	<TextInput label="Klíč" bind:value={keyword} />
</div>

{#if keyword.toLowerCase().split('').length !== [...new Set(keyword
				.toLowerCase()
				.split(''))].length}
	<CipherWarning>Pozor, písmena v klíči se nesmí opakovat.</CipherWarning>
{/if}

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<SectionHeading>Pomocná tabulka</SectionHeading>
<div class="divide-y">
	{#each [alphabet, shiftedAlphabet] as row}
		<div class="grid grid-cols-[repeat(26,_minmax(0,_1fr))] divide-x">
			{#each row as character}
				<div class="text-center py-1 {character === 'A' ? 'font-bold' : ''}">
					{character}
				</div>
			{/each}
		</div>
	{/each}
</div>
