<script lang="ts">
	import NumberInput from '$lib/components/Input/NumberInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import Caesar from '@sifry/lib/src/ciphers/Caesar';
	import AlphabetHelper from './AlphabetHelper.svelte';
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import Hint from './Hint.svelte';
	import CipherHint from '$lib/components/CipherHint/CipherHint.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let shift = 1;
	let shiftRight = 26 - shift;

	let clearText = '';
	let cipher = new Caesar();

	const getOpposite = (number: number): number => (((26 - number) % 26) + 26) % 26;

	$: cipherText = cipher.run(clearText, { shift });
	$: [firstWord] = clearText.trim().split(' ');
</script>

<div class="grid gap-4 grid-cols-3 mb-6">
	<NumberInput
		label="Posun vlevo"
		bind:value={shift}
		min={1}
		max={25}
		on:change={() => {
			shiftRight = getOpposite(shift);
		}}
	/>
	<NumberInput
		label="Posun vpravo"
		bind:value={shiftRight}
		min={1}
		max={25}
		on:change={() => {
			shift = getOpposite(shiftRight);
		}}
	/>
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<CipherHint title="Nápověda (3L{shift})" dynamic>
	<Hint {shift} firstWord={firstWord ? firstWord : 'Ahoj'} direction="left" />
</CipherHint>

<CipherHint title="Nápověda (3P{shiftRight})" dynamic>
	<Hint {shift} firstWord={firstWord ? firstWord : 'Ahoj'} direction="right" />
</CipherHint>

<SectionHeading>Pomocná tabulka</SectionHeading>

<AlphabetHelper {shift} />
