<script lang="ts">
	import { flip } from 'svelte/animate';

	export let shift: number;

	const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
	$: shiftedAlphabet = [...alphabet.slice(shift), ...alphabet.slice(0, shift)];
</script>

<div class="divide-y">
	{#each [alphabet, shiftedAlphabet] as row}
		<div class="grid grid-cols-[repeat(26,_minmax(0,_1fr))] divide-x">
			{#each row as character (character)}
				<div class="text-center py-1 {character === 'A' ? 'font-bold' : ''}">
					{character}
				</div>
			{/each}
		</div>
	{/each}
</div>
