<script lang="ts">
	import InputWrapper from '../InputWrapper/InputWrapper.svelte';
	import { baseClasses } from './TextInput.svelte';

	export let value: number | undefined = undefined;
	export let min: number | undefined = undefined;
	export let max: number | undefined = undefined;
	export let readOnly = false;
	export let label: string | undefined = undefined;
	let classes = '';
	export { classes as class };
</script>

<InputWrapper class={classes} {label}>
	<input
		readonly={readOnly}
		bind:value
		type="number"
		class={baseClasses}
		{min}
		{max}
		on:change
		on:blur
	/>
</InputWrapper>
