<script lang="ts" context="module">
	export const baseClasses =
		'p-2 border-2 bg-gray-100 rounded-md w-full transition-colors outline outline-2 outline-transparent focus:outline-2 focus:outline focus:outline-gray-500';
</script>

<script lang="ts">
	import InputWrapper from '../InputWrapper/InputWrapper.svelte';

	export let value = '';
	export let readOnly = false;
	export let label: string | undefined = undefined;
	let classes = '';
	export { classes as class };
</script>

<InputWrapper class={classes} {label}>
	<input readonly={readOnly} bind:value type="text" class={baseClasses} />
</InputWrapper>
