<script lang="ts">
	import { baseClasses } from './TextInput.svelte';
	import InputWrapper from '../InputWrapper/InputWrapper.svelte';

	export let value = '';
	export let readOnly = false;
	export let label: string | undefined = undefined;
	let classes = '';
	export { classes as class };
</script>

<InputWrapper class={classes} {label}>
	<textarea readonly={readOnly} bind:value class="{baseClasses} min-h-[10rem]" />
</InputWrapper>
