<script lang="ts">
	export let checked = false;
	export let readOnly = false;
	export let label: string | undefined = undefined;
	let classes = '';
	export { classes as class };

	const toggle = () => {
		checked = !checked;
	};
</script>

<div class="flex gap-3 items-center {classes}">
	<button
		type="button"
		class="group relative inline-flex h-5 w-10 flex-shrink-0 cursor-pointer items-center justify-center rounded-full focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600 focus-visible:ring-offset-2"
		role="switch"
		aria-checked={checked}
		disabled={readOnly}
		on:click={toggle}
	>
		<span class="sr-only">{label}</span>
		<span
			aria-hidden="true"
			class="pointer-events-none absolute h-full w-full rounded-md bg-white"
		/>
		<span
			aria-hidden="true"
			class="pointer-events-none absolute mx-auto h-4 w-9 rounded-full transition-colors duration-200 ease-in-out {checked
				? 'bg-indigo-600'
				: 'bg-gray-200'}"
		/>
		<span
			aria-hidden="true"
			class="pointer-events-none absolute left-0 inline-block h-5 w-5 transform rounded-full border border-gray-200 bg-white shadow ring-0 transition-transform duration-200 ease-in-out {checked
				? 'translate-x-5'
				: 'translate-x-0'}"
		/>
	</button>
	<button class="text-left" on:click={toggle}>
		{label}
	</button>
</div>
