<script lang="ts">
	import '../app.css';
	import Sidebar from '../lib/components/Sidebar/Sidebar.svelte';
	import { page } from '$app/stores';
	import PageHeading from '$lib/components/Heading/PageHeading.svelte';
</script>

<svelte:head>
	<title>
		{$page.data.title ? `${$page.data.title} | Šifry` : 'Šifry'}
	</title>
</svelte:head>
<Sidebar>
	<main class="max-w-screen-xl mx-auto">
		{#if $page.data.title}
			<PageHeading>{$page.data.title}</PageHeading>
		{/if}
		<slot />
	</main>
</Sidebar>
