<script>
	import SectionHeading from '../Heading/SectionHeading.svelte';
	import TooltipHint from '../TooltipHint/TooltipHint.svelte';
	import BoldIcon from 'heroicons/24/outline/bolt.svg?component';
	import AdjustmentsVertical from 'heroicons/24/outline/adjustments-vertical.svg';

	export let title = 'Nápověda';
	export let dynamic = false;
	export let parametric = false;
</script>

<SectionHeading class="flex gap-3 items-baseline">
	{title}
	{#if dynamic}
		<TooltipHint class="w-5 top-1">
			<BoldIcon slot="icon" />
			Nápověda se automaticky generuje ze šifrované zprávy.
		</TooltipHint>
	{/if}
	{#if parametric}
		<TooltipHint class="w-5 top-1">
			<AdjustmentsVertical slot="icon" />
			Nápověda se automaticky upravuje podle parametrů šifry.
		</TooltipHint>
	{/if}
</SectionHeading>

<div class="mb-5">
	<slot name="controls" />
</div>
<div>
	<slot />
</div>
