<script lang="ts">
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import NumberInput from '$lib/components/Input/NumberInput.svelte';
	import TextInput from '$lib/components/Input/TextInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import CharacterAverages from '@sifry/lib/src/ciphers/CharacterAverages';
	import ConversionHelper from './ConversionHelper.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let minDistance = 1;
	let maxDistance = 1;
	let separator = ' | ';

	let clearText = '';
	let cipherText = '';
	const cipher = new CharacterAverages();

	$: {
		try {
			const newCipherText = cipher.run(clearText, { minDistance, maxDistance, separator });
			cipherText = newCipherText;
		} catch (e) {
			// todo show error
		}
	}
</script>

<div class="grid gap-4 mb-6 grid-cols-1 sm:grid-cols-3">
	<NumberInput
		label="Minimální vzdálenost"
		bind:value={minDistance}
		min={0}
		on:change={() => {
			if (maxDistance < minDistance) {
				maxDistance = minDistance;
			}
		}}
	/>
	<NumberInput
		label="Maximální vzdálenost"
		bind:value={maxDistance}
		min={0}
		on:change={() => {
			if (minDistance > maxDistance) {
				minDistance = maxDistance;
			}
		}}
	/>
	<TextInput label="Oddělovač" bind:value={separator} />
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<SectionHeading>Pomocná tabulka</SectionHeading>
<ConversionHelper {minDistance} {maxDistance} />
