<script lang="ts">
	import CharacterAverages from '@sifry/lib/src/ciphers/CharacterAverages';

	const cipher = new CharacterAverages();

	export let minDistance: number;
	export let maxDistance: number;

	const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');

	$: distances = [...Array(maxDistance - minDistance + 1).keys()].map(
		(distance) => distance + minDistance
	);
</script>

<table class="border">
	<tr>
		<th class="border" />
		<th class="border p-1 px-3" colspan={distances.length}> zašifrováno jako </th>
	</tr>
	{#each alphabet as character}
		<tr>
			<th class="p-1 px-3">{character}</th>
			{#each distances as distance}
				<td class="p-1 text-center border">
					{cipher.run(character, { minDistance: distance, maxDistance: distance })}
				</td>
			{/each}
		</tr>
	{/each}
</table>
