<script lang="ts">
	import ClipboardDocumentListIcon from 'heroicons/24/outline/clipboard-document-list.svg?component';
	import CheckCircleIcon from 'heroicons/24/outline/check-circle.svg?component';
	import TooltipHint, { type Position } from '../TooltipHint/TooltipHint.svelte';

	import { onDestroy } from 'svelte';
	import { browser } from '$app/environment';

	export let content: string;
	let classes = '';
	export { classes as class };
	export let tooltipPosition: Position = 'right';

	let status: 'ready' | 'copied' = 'ready';
	let timeout: number | undefined = undefined;

	const onClick = async () => {
		navigator.clipboard.writeText(content);
		status = 'copied';
		if (browser) {
			timeout = window.setTimeout(() => {
				status = 'ready';
			}, 1500);
		}
	};

	onDestroy(() => {
		if (browser) {
			window.clearTimeout(timeout);
		}
	});
</script>

<div class={classes}>
	<TooltipHint
		class="w-8 bg-gray-300 p-1 rounded-md block shadow-sm"
		on:click={onClick}
		position={tooltipPosition}
	>
		<span class="block" slot="icon">
			{#if status === 'copied'}
				<CheckCircleIcon />
			{:else}
				<ClipboardDocumentListIcon />
			{/if}
		</span>
		{#if status === 'copied'}
			Zkopírováno
		{:else}
			Kopírovat
		{/if}
	</TooltipHint>
</div>
