<script lang="ts">
	import CopyToClipboard from '../CopyToClipboard/CopyToClipboard.svelte';

	import Textarea from '../Input/Textarea.svelte';

	export let cipherText: string = '';
</script>

<div class="relative">
	<Textarea label="Šifrový text" readOnly value={cipherText} />
	<CopyToClipboard class="absolute top-10 right-2" content={cipherText} tooltipPosition="left" />
</div>
