<script lang="ts">
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';
	import ReverseText from '@sifry/lib/src/ciphers/ReverseText';

	let clearText = '';
	let cipher = new ReverseText();

	$: cipherText = cipher.run(clearText);
</script>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>
