<script lang="ts">
	import NumberInput from '$lib/components/Input/NumberInput.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import BritishFlag from '@sifry/lib/src/ciphers/BritishFlag';

	let clearText = '';
	let cipher = new BritishFlag();
	let charsPerRow = 15;

	$: cipherText = cipher.run(clearText, { charsPerRow });
</script>

<div class="grid gap-4 grid-cols-3 mb-6">
	<NumberInput label="Počet znaků na řádek" bind:value={charsPerRow} min={1} />
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<div class="w-full">
		<Textarea label="Otevřený text" bind:value={clearText} />
	</div>
	<div class="w-full">
		<span class="block mb-2">Šifrový text (SVG)</span>
		{#if clearText !== ''}
			<div class="flex">
				{@html cipherText}
			</div>
		{:else}
			<div class="text-gray-500 italic text-center py-6">(zadej text)</div>
		{/if}
	</div>
</div>
