<script lang="ts">
	import SectionHeading from '$lib/components/Heading/SectionHeading.svelte';
	import Textarea from '$lib/components/Input/Textarea.svelte';
	import VpredSecond from '@sifry/lib/src/ciphers/VpredSecond';
	import vpredSecondHint from '$lib/assets/vpred-second-hint.png';
	import CipherHint from '$lib/components/CipherHint/CipherHint.svelte';
	import ResultTextarea from '$lib/components/ResultTextarea/ResultTextarea.svelte';

	let clearText = '';
	let cipher = new VpredSecond();

	$: cipherText = cipher.run(clearText);
</script>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
	<Textarea label="Otevřený text" bind:value={clearText} />
	<ResultTextarea {cipherText} />
</div>

<CipherHint dynamic>
	Jedná se o 2. oddílovou šifru.
	{#if cipherText.length}
		Písmen je ve zprávě {cipherText.length}, takže si udělejte si tabulku {Math.sqrt(
			cipherText.length
		)}×{Math.sqrt(cipherText.length)} a vepište do ní celý text po řádcích.
	{:else}
		Vytvořte si čtvercovou tabulku, do které se přesně vejde zašifrovaná zpráva. Vepište do ná text
		po řádcích.
	{/if}
	Následně čtěte písmena dle tohoto klíče:
	<img src={vpredSecondHint} />
</CipherHint>
